In [1]:
import pandas as pd
import numpy as np

In [5]:
#load consumerelectronics csv
df1=pd.read_csv(r"C:\Users\HP\Downloads\ConsumerElectronics.csv")
df1

C:\Users\HP\AppData\Local\Temp\ipykernel_10364\1853696751.py:1: DtypeWarning: Columns (6,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(r"C:\Users\HP\Downloads\ConsumerElectronics.csv")

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,2015,10,3.419301e+15,3.419301e+15,6400,1,\N,\N,COD,5,-1.01299130778588E+018,-7.79175582905735E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,2015,10,1.420831e+15,1.420831e+15,6900,1,\N,\N,COD,7,-8.99032457905512E+018,7.33541149097431E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,2015,10,2.421913e+15,2.421913e+15,1990,1,\N,\N,COD,10,-1.0404429420466E+018,-7.47768776228657E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,2015,10,4.416592e+15,4.416592e+15,1690,1,\N,\N,Prepaid,4,-7.60496084352714E+018,-5.83593163877661E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,2015,10,4.419525e+15,4.419525e+15,1618,1,\N,\N,Prepaid,6,2.8945572083453E+018,5.34735360997242E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648819,VPLEYAP3ZYYUVESU,2015-09-27 19:20:31,2015,9,4.402170e+15,4.402170e+15,2200,1,\N,\N,COD,7,-9.90634340213633E+017,7.89475898877674E+018,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,2499,2
1648820,VPLEYAP3ZYYUVESU,2015-09-28 01:32:58,2015,9,1.402393e+15,1.402393e+15,2098,1,\N,\N,COD,10,3.04892345453077E+018,-1.45758574108572E+018,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,2499,2
1648821,VPLEYAP3ZYYUVESU,2015-09-29 07:07:57,2015,9,4.403460e+15,4.403460e+15,2098,1,\N,\N,COD,5,-4.53140379455183E+018,5.74649014721365E+018,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,2499,2
1648822,VPLEYAP3ZYYUVESU,2015-09-29 18:15:45,2015,9,4.403860e+15,4.403860e+15,2200,1,\N,\N,COD,3,-8.94046418180233E+018,2.57294814079718E+018,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,2499,2
1648823,VPLEYAP3ZYYUVESU,2015-09-29 21:31:37,2015,9,4.403971e+15,4.403971e+15,2295,1,\N,\N,COD,5,6.0094454082098E+018,4.38373500390134E+017,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,2499,2

In [13]:
from datetime import datetime

In [15]:
df1['Day'] = pd.to_datetime(df1['order_date']).dt.day  #extract day from date

In [16]:
df1.head(2)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,...,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla,Day
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,2015,10,3.419301e+15,3.419301e+15,6400,1,\N,\N,...,5,-1.01299130778588E+018,-7.79175582905735E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0,17
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,2015,10,1.420831e+15,1.420831e+15,6900,1,\N,\N,...,7,-8.99032457905512E+018,7.33541149097431E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0,19

In [3]:
df1.columns

Index(['fsn_id', 'order_date', 'Year', 'Month', 'order_id', 'order_item_id',
       'gmv', 'units', 'deliverybdays', 'deliverycdays',
       's1_fact.order_payment_type', 'sla', 'cust_id', 'pincode',
       'product_analytic_super_category', 'product_analytic_category',
       'product_analytic_sub_category', 'product_analytic_vertical',
       'product_mrp', 'product_procurement_sla'],
      dtype='object')

In [8]:
#load merged ontario csv
df2=pd.read_csv(r"C:\Users\HP\Downloads\merged_ontario.csv")

In [9]:
df2.head()

,Date/Time,Year,Month,Day,Data Quality,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm)
0,01-01-2015,2015,1,1,Unverified Data,7.25,3.033007,8.080073,15.322127,0.0,0.000000,0.00000,0.000000,0.0
1,02-01-2015,2015,1,2,Unverified Data,7.25,3.033007,8.080073,15.322127,0.0,0.000000,0.00000,0.000000,0.0
2,03-01-2015,2015,1,3,Unverified Data,7.25,3.033007,8.080073,15.322127,0.0,7.341009,0.00000,7.944079,0.0
3,04-01-2015,2015,1,4,Unverified Data,7.25,3.033007,8.080073,15.322127,0.0,0.000000,0.60307,1.000000,0.0
4,05-01-2015,2015,1,5,Unverified Data,7.25,3.033007,8.080073,15.322127,0.0,0.000000,0.60307,3.000000,1.0

In [79]:
merged_df = pd.merge(df1, df2, on=['Year', 'Month', 'Day'], how='inner') #merge consumer and ontario csv based on year,month,day

In [19]:
merged_df

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,...,Data Quality,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm)
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,2015,10,3.419301e+15,3.419301e+15,6400,1,\N,\N,...,Unverified Data,9.000000,8.413203,13.732029,6.428851,2.16088,0.000000,0.000000,0.000000,0.000000
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,2015,10,1.420831e+15,1.420831e+15,6900,1,\N,\N,...,Data Not Recorded,18.350679,8.413203,13.732029,6.428851,2.16088,2.936404,0.241228,3.177632,1.239035
2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,2015,10,2.421913e+15,2.421913e+15,1990,1,\N,\N,...,Unverified Data,22.000000,12.500000,17.300000,0.700000,0.00000,0.000000,0.000000,0.000000,0.000000
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,2015,10,4.416592e+15,4.416592e+15,1690,1,\N,\N,...,Data Not Recorded,18.350679,8.413203,13.732029,6.428851,2.16088,2.936404,0.241228,3.177632,1.239035
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,2015,10,4.419525e+15,4.419525e+15,1618,1,\N,\N,...,Unverified Data,9.000000,8.413203,13.732029,6.428851,2.16088,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648819,VPLEYAP3ZYYUVESU,2015-09-27 19:20:31,2015,9,4.402170e+15,4.402170e+15,2200,1,\N,\N,...,Unverified Data,25.500000,14.500000,20.000000,0.000000,2.00000,0.000000,0.000000,0.000000,0.000000
1648820,VPLEYAP3ZYYUVESU,2015-09-28 01:32:58,2015,9,1.402393e+15,1.402393e+15,2098,1,\N,\N,...,Unverified Data,26.500000,17.380196,22.800000,0.000000,4.80000,0.000000,0.000000,0.000000,0.000000
1648821,VPLEYAP3ZYYUVESU,2015-09-29 07:07:57,2015,9,4.403460e+15,4.403460e+15,2098,1,\N,\N,...,Unverified Data,22.500000,17.000000,19.800000,0.000000,1.80000,7.341009,0.000000,7.944079,0.000000
1648822,VPLEYAP3ZYYUVESU,2015-09-29 18:15:45,2015,9,4.403860e+15,4.403860e+15,2200,1,\N,\N,...,Unverified Data,22.500000,17.000000,19.800000,0.000000,1.80000,7.341009,0.000000,7.944079,0.000000
1648823,VPLEYAP3ZYYUVESU,2015-09-29 21:31:37,2015,9,4.403971e+15,4.403971e+15,2295,1,\N,\N,...,Unverified Data,22.500000,17.000000,19.800000,0.000000,1.80000,7.341009,0.000000,7.944079,0.000000

In [45]:
merged_df.shape #shape

(1648824, 32)

In [80]:
merged_df = merged_df.drop_duplicates()  #remove duplicates
merged_df.shape

(1543981, 32)

In [20]:
merged_df.isnull().sum()  #missing values

fsn_id                             0
order_date                         0
Year                               0
Month                              0
order_id                           0
order_item_id                      0
gmv                                0
units                              0
deliverybdays                      0
deliverycdays                      0
s1_fact.order_payment_type         0
sla                                0
cust_id                            0
pincode                            0
product_analytic_super_category    0
product_analytic_category          0
product_analytic_sub_category      0
product_analytic_vertical          0
product_mrp                        0
product_procurement_sla            0
Day                                0
Date/Time                          0
Data Quality                       0
Max Temp (°C)                      0
Min Temp (°C)                      0
Mean Temp (°C)                     0
Heat Deg Days (°C)                 0
Cool Deg Days (°C)                 0
Total Rain (mm)                    0
Total Snow (cm)                    0
Total Precip (mm)                  0
Snow on Grnd (cm)                  0
dtype: int64

In [47]:
merged_df['deliverybdays'].value_counts()

deliverybdays
\N     1208179
4        62056
5        60591
3        53686
6        48650
        ...
-74          1
-98          1
-46          1
-76          1
-10          1
Name: count, Length: 143, dtype: int64

In [48]:
merged_df['deliverycdays'].value_counts()

deliverycdays
\N      1208178
5         56412
6         51927
4         50619
3         40495
         ...
-884          1
-544          1
-893          1
-11           1
-908          1
Name: count, Length: 171, dtype: int64

In [25]:
merged_df['deliverycdays'].unique()

array(['\\N', '6', '5', '14', '7', '9', '4', '11', '12', '3', '8', '19',
       '17', '16', '23', '13', '2', '20', '10', '15', '37', '1', '18',
       '278', '178', '87', '149', '172', '169', '157', '145', '109',
       '130', '118', '123', '122', '114', '101', '120', '115', '106',
       '112', '108', '110', '117', '124', '119', '111', '113', '107',
       '100', '116', '121', '103', '102', '133', '140', '134', '154',
       '82', '97', '84', '83', '85', '89', '86', '79', '88', '76', '98',
       '74', '96', '95', '92', '75', '81', '73', '71', '69', '70', '91',
       '77', '94', '72', '80', '78', '90', '99', '21', '26', '27', '42',
       '22', '41', '31', '30', '34', '29', '24', '53', '47', '55', '65',
       '49', '57', '66', '43', '45', '68', '40', '67', '38', '59', '52',
       '51', '46', '63', '44', '60', '61', '56', '50', '64', '54', '62',
       '58', '39', '48', '32', '36', '28', '0', '-832', '-840', '-628',
       '-836', '-834', '-476', '-466', '-848', '-844', '-482', '25', '33',
       '35', '-837', '-849', '-835', '-16', '-532', '-655', '-859',
       '-879', '-14', '-25', '-516', '-876', '-492', '-510', '-512',
       '-871', '-875', '-153', '-5345', '-884', '-115', '-544', '-893',
       '-11', '-898', '-908'], dtype=object)

In [26]:
merged_df['deliverybdays'].unique()

array(['\\N', '5', '4', '12', '6', '7', '8', '3', '9', '10', '2', '16',
       '14', '13', '20', '11', '1', '18', '32', '15', '238', '153', '74',
       '128', '148', '145', '147', '135', '124', '94', '111', '101',
       '105', '104', '98', '86', '106', '103', '99', '91', '96', '93',
       '100', '102', '95', '97', '92', '88', '87', '114', '120', '115',
       '132', '70', '83', '72', '0', '73', '76', '67', '75', '68', '65',
       '84', '63', '82', '81', '79', '64', '69', '61', '59', '60', '78',
       '66', '62', '71', '77', '80', '85', '90', '22', '23', '36', '19',
       '17', '35', '26', '29', '25', '45', '40', '47', '56', '55', '42',
       '49', '57', '37', '38', '58', '34', '50', '44', '39', '54', '51',
       '52', '48', '43', '46', '53', '33', '41', '21', '27', '31', '24',
       '-71', '-72', '-53', '-40', '-39', '-41', '28', '30', '-14', '-45',
       '-56', '-73', '-75', '-12', '-22', '-44', '-42', '-43', '-74',
       '-13', '-98', '-46', '-76', '-10', '-77'], dtype=object)

In [81]:
import pandas as pd

# Assuming `df` is your DataFrame

# Convert the order_item_id and order_id to integers if they are in scientific notation
merged_df['order_id'] = merged_df['order_id'].apply(lambda x: int(x) if pd.notnull(x) else x)
merged_df['order_item_id'] = merged_df['order_item_id'].apply(lambda x: int(x) if pd.notnull(x) else x)

In [37]:
merged_df['order_item_id'].value_counts()

order_item_id
300037347714657984    38
300037347714150016    36
300037347714745024    36
300037347714611968    36
300037347712737024    36
                      ..
4419525153426400       1
2421912925714800       1
1420830839915200       1
3419300926147000       1
4416128064923500       1
Name: count, Length: 1480765, dtype: int64

In [82]:
merged_df['order_id'] = merged_df['order_id'].apply(lambda x: x if x > 0 else None)
merged_df['order_item_id'] = merged_df['order_item_id'].apply(lambda x: x if x > 0 else None) #if negative values converting to nan
#no negative values

In [51]:
merged_df.isnull().sum()

fsn_id                             0
order_date                         0
Year                               0
Month                              0
order_id                           0
order_item_id                      0
gmv                                0
units                              0
deliverybdays                      0
deliverycdays                      0
s1_fact.order_payment_type         0
sla                                0
cust_id                            0
pincode                            0
product_analytic_super_category    0
product_analytic_category          0
product_analytic_sub_category      0
product_analytic_vertical          0
product_mrp                        0
product_procurement_sla            0
Day                                0
Date/Time                          0
Data Quality                       0
Max Temp (°C)                      0
Min Temp (°C)                      0
Mean Temp (°C)                     0
Heat Deg Days (°C)                 0
Cool Deg Days (°C)                 0
Total Rain (mm)                    0
Total Snow (cm)                    0
Total Precip (mm)                  0
Snow on Grnd (cm)                  0
dtype: int64

In [40]:
merged_df.columns

Index(['fsn_id', 'order_date', 'Year', 'Month', 'order_id', 'order_item_id',
       'gmv', 'units', 'deliverybdays', 'deliverycdays',
       's1_fact.order_payment_type', 'sla', 'cust_id', 'pincode',
       'product_analytic_super_category', 'product_analytic_category',
       'product_analytic_sub_category', 'product_analytic_vertical',
       'product_mrp', 'product_procurement_sla', 'Day', 'Date/Time',
       'Data Quality', 'Max Temp (°C)', 'Min Temp (°C)', 'Mean Temp (°C)',
       'Heat Deg Days (°C)', 'Cool Deg Days (°C)', 'Total Rain (mm)',
       'Total Snow (cm)', 'Total Precip (mm)', 'Snow on Grnd (cm)'],
      dtype='object')

In [83]:
#drop unnecessary columns
merged_df = merged_df.drop(columns=['order_date','deliverybdays','deliverycdays','cust_id','pincode','Date/Time'])

In [59]:
merged_df.columns

Index(['fsn_id', 'Year', 'Month', 'order_id', 'order_item_id', 'gmv', 'units',
       's1_fact.order_payment_type', 'sla', 'product_analytic_super_category',
       'product_analytic_category', 'product_analytic_sub_category',
       'product_analytic_vertical', 'product_mrp', 'product_procurement_sla',
       'Day', 'Data Quality', 'Max Temp (°C)', 'Min Temp (°C)',
       'Mean Temp (°C)', 'Heat Deg Days (°C)', 'Cool Deg Days (°C)',
       'Total Rain (mm)', 'Total Snow (cm)', 'Total Precip (mm)',
       'Snow on Grnd (cm)'],
      dtype='object')

In [61]:
merged_df.dtypes #datatype

fsn_id                              object
Year                                 int64
Month                                int64
order_id                             int64
order_item_id                        int64
gmv                                 object
units                                int64
s1_fact.order_payment_type          object
sla                                  int64
product_analytic_super_category     object
product_analytic_category           object
product_analytic_sub_category       object
product_analytic_vertical           object
product_mrp                          int64
product_procurement_sla              int64
Day                                  int32
Data Quality                        object
Max Temp (°C)                      float64
Min Temp (°C)                      float64
Mean Temp (°C)                     float64
Heat Deg Days (°C)                 float64
Cool Deg Days (°C)                 float64
Total Rain (mm)                    float64
Total Snow (cm)                    float64
Total Precip (mm)                  float64
Snow on Grnd (cm)                  float64
dtype: object

In [57]:
merged_df.shape

(1543981, 32)

In [67]:

# Check for empty strings in each cell of the DataFrame
empty_strings = merged_df.applymap(lambda x: x == ' ')

# Get the column names with empty strings
columns_with_empty_strings = empty_strings.any()

# Print the column names with empty strings
print("Columns with empty strings:")
print(columns_with_empty_strings[columns_with_empty_strings].index.tolist())

C:\Users\HP\AppData\Local\Temp\ipykernel_10364\992810141.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  empty_strings = merged_df.applymap(lambda x: x == ' ')

Columns with empty strings:
['gmv']

In [84]:
merged_df['gmv'] = merged_df['gmv'].replace(' ',np.nan) #changing gmv to float

In [72]:
merged_df['gmv'].isnull().sum()

np.int64(4038)

In [88]:
merged_df['gmv'] = pd.to_numeric(merged_df['gmv'], errors='coerce')

# Fill NaN values with the mean of the 'gmv' column
mean_value = merged_df['gmv'].mean()
merged_df['gmv'] = merged_df['gmv'].fillna(mean_value)

# Convert the 'gmv' column to integers
merged_df['gmv'] = merged_df['gmv'].astype(int)

In [89]:
merged_df.dtypes

fsn_id                              object
Year                                 int64
Month                                int64
order_id                             int64
order_item_id                        int64
gmv                                  int64
units                                int64
s1_fact.order_payment_type          object
sla                                  int64
product_analytic_super_category     object
product_analytic_category           object
product_analytic_sub_category       object
product_analytic_vertical           object
product_mrp                          int64
product_procurement_sla              int64
Day                                  int32
Data Quality                        object
Max Temp (°C)                      float64
Min Temp (°C)                      float64
Mean Temp (°C)                     float64
Heat Deg Days (°C)                 float64
Cool Deg Days (°C)                 float64
Total Rain (mm)                    float64
Total Snow (cm)                    float64
Total Precip (mm)                  float64
Snow on Grnd (cm)                  float64
dtype: object

In [93]:
cont_col=cat_col = merged_df.select_dtypes(exclude=['object','datetime64[ns]']).columns
cont_col

Index(['Year', 'Month', 'order_id', 'order_item_id', 'gmv', 'units', 'sla',
       'product_mrp', 'product_procurement_sla', 'Day', 'Max Temp (°C)',
       'Min Temp (°C)', 'Mean Temp (°C)', 'Heat Deg Days (°C)',
       'Cool Deg Days (°C)', 'Total Rain (mm)', 'Total Snow (cm)',
       'Total Precip (mm)', 'Snow on Grnd (cm)'],
      dtype='object')

In [96]:
outlier = merged_df[[ 'order_id', 'order_item_id','gmv', 'units', 'sla',
       'product_mrp', 'product_procurement_sla']]

In [97]:
for column in outlier:  #checking outliers

    print(f"Column : {column}")
    iqr = merged_df[column].quantile(0.75) - merged_df[column].quantile(0.25)
    upper_threshold = merged_df[column].quantile(0.75) + (1.5 * iqr)
    lower_threshold = merged_df[column].quantile(0.25) - (1.5 * iqr)
    print(f"UpperThreshold : {upper_threshold} and lowerThreshold : {lower_threshold}")

    print(merged_df[column].describe())
    print('**********************')

Column : order_id
UpperThreshold : 6643524733356050.0 and lowerThreshold : -1430746294880350.0
count    1.543981e+06
mean     2.837023e+15
std      1.286431e+15
min      7.633152e+07
25%      1.597105e+15
50%      2.610074e+15
75%      3.615673e+15
max      5.395077e+15
Name: order_id, dtype: float64
**********************
Column : order_item_id
UpperThreshold : 6704215666426800.0 and lowerThreshold : -1463092267418800.0
count    1.543981e+06
mean     9.201482e+15
std      4.306844e+16
min      1.080165e+08
25%      1.599648e+15
50%      2.612942e+15
75%      3.641475e+15
max      3.000373e+17
Name: order_item_id, dtype: float64
**********************
Column : gmv
UpperThreshold : 4487.5 and lowerThreshold : -2148.5
count    1.543981e+06
mean     2.490076e+03
std      5.654786e+03
min      0.000000e+00
25%      3.400000e+02
50%      7.630000e+02
75%      1.999000e+03
max      2.269470e+05
Name: gmv, dtype: float64
**********************
Column : units
UpperThreshold : 1.0 and lowerThreshold : 1.0
count    1.543981e+06
mean     1.022026e+00
std      2.555464e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      5.000000e+01
Name: units, dtype: float64
**********************
Column : sla
UpperThreshold : 11.5 and lowerThreshold : -0.5
count    1.543981e+06
mean     5.683773e+00
std      2.992970e+00
min      0.000000e+00
25%      4.000000e+00
50%      6.000000e+00
75%      7.000000e+00
max      1.006000e+03
Name: sla, dtype: float64
**********************
Column : product_mrp
UpperThreshold : 7549.0 and lowerThreshold : -3251.0
count    1.543981e+06
mean     4.164509e+03
std      8.604990e+03
min      0.000000e+00
25%      7.990000e+02
50%      1.599000e+03
75%      3.499000e+03
max      2.999990e+05
Name: product_mrp, dtype: float64
**********************
Column : product_procurement_sla
UpperThreshold : 6.0 and lowerThreshold : -2.0
count    1.543981e+06
mean     5.348075e+00
std      5.296503e+01
min     -1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      1.000000e+03
Name: product_procurement_sla, dtype: float64
**********************

In [98]:
for column in outlier:

    print(f"Column : {column}")

    iqr = merged_df[column].quantile(0.75) - merged_df[column].quantile(0.25)
    upper_threshold = merged_df[column].quantile(0.75) + (1.5 * iqr)
    lower_threshold = merged_df[column].quantile(0.25) - (1.5 * iqr)
    print(f"UpperThreshold : {upper_threshold} and lowerThreshold : {lower_threshold}")

    merged_df[column] = merged_df[column].clip(lower_threshold, upper_threshold)   #cliping- removing outliers
    print(merged_df[column].describe())


    print('**********************')

Column : order_id
UpperThreshold : 6643524733356050.0 and lowerThreshold : -1430746294880350.0
count    1.543981e+06
mean     2.837023e+15
std      1.286431e+15
min      7.633152e+07
25%      1.597105e+15
50%      2.610074e+15
75%      3.615673e+15
max      5.395077e+15
Name: order_id, dtype: float64
**********************
Column : order_item_id
UpperThreshold : 6704215666426800.0 and lowerThreshold : -1463092267418800.0
count    1.543981e+06
mean     2.912411e+15
std      1.398248e+15
min      1.080165e+08
25%      1.599648e+15
50%      2.612942e+15
75%      3.641475e+15
max      6.704216e+15
Name: order_item_id, dtype: float64
**********************
Column : gmv
UpperThreshold : 4487.5 and lowerThreshold : -2148.5
count    1.543981e+06
mean     1.375623e+03
std      1.378070e+03
min      0.000000e+00
25%      3.400000e+02
50%      7.630000e+02
75%      1.999000e+03
max      4.487500e+03
Name: gmv, dtype: float64
**********************
Column : units
UpperThreshold : 1.0 and lowerThreshold : 1.0
count    1543981.0
mean           1.0
std            0.0
min            1.0
25%            1.0
50%            1.0
75%            1.0
max            1.0
Name: units, dtype: float64
**********************
Column : sla
UpperThreshold : 11.5 and lowerThreshold : -0.5
count    1.543981e+06
mean     5.632096e+00
std      2.598904e+00
min      0.000000e+00
25%      4.000000e+00
50%      6.000000e+00
75%      7.000000e+00
max      1.150000e+01
Name: sla, dtype: float64
**********************
Column : product_mrp
UpperThreshold : 7549.0 and lowerThreshold : -3251.0
count    1.543981e+06
mean     2.472307e+03
std      2.250697e+03
min      0.000000e+00
25%      7.990000e+02
50%      1.599000e+03
75%      3.499000e+03
max      7.549000e+03
Name: product_mrp, dtype: float64
**********************
Column : product_procurement_sla
UpperThreshold : 6.0 and lowerThreshold : -2.0
count    1.543981e+06
mean     2.469975e+00
std      1.620540e+00
min     -1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      6.000000e+00
Name: product_procurement_sla, dtype: float64
**********************

In [123]:
merged_df.to_csv(r"C:\Users\HP\Downloads\ecommerce.csv",index=False) #save dataset

In [102]:
merged_df['product_analytic_category'].value_counts()

product_analytic_category
EntertainmentSmall    881968
CameraAccessory       240094
GamingHardware        217418
GameCDDVD             107965
Camera                 96536
Name: count, dtype: int64

In [108]:
#replacing the category
merged_df['product_analytic_category']=merged_df['product_analytic_category'].replace("GameCDDVD","GamingHardware")
merged_df['product_analytic_category']=merged_df['product_analytic_category'].replace("Camera","CameraAccessory")

In [109]:
merged_df['product_analytic_category'].value_counts()

product_analytic_category
EntertainmentSmall    881968
CameraAccessory       336630
GamingHardware        325383
Name: count, dtype: int64

In [110]:


# Create a separate dataset for each product category

e_df = merged_df[merged_df['product_analytic_category'] == 'EntertainmentSmall']
c_df = merged_df[merged_df['product_analytic_category'] == 'CameraAccessory']
g_df = merged_df[merged_df['product_analytic_category'] == 'GamingHardware']

# Check the shapes of the new datasets 
print(e_df.shape)
print(c_df.shape)
print(g_df.shape)

(881968, 26)
(336630, 26)
(325383, 26)

In [119]:
e_df.to_csv(r"C:\Users\HP\Downloads\entertainment.csv",index=False) #save entertainment csv

In [118]:
c_df.to_csv(r"C:\Users\HP\Downloads\camera.csv",index=False) #save camera csv

In [117]:
g_df.to_csv(r"C:\Users\HP\Downloads\game.csv",index=False)  #save game csv